guidelines.md
*.pdb
*.gro
*.zip
*.tpr
*.edr
*.log
*.trr
*.swp
*.xvg
*.offsets
*.cpt
log.*
.ipynb_checkpoints/
biobb_wf_cwl_tutorial/notebooks/*.web.ipynb
biobb_wf_cwl_tutorial/notebooks/*.docs.ipynb
*.old.ipynb
*.bk.ipynb
\#*\#